/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
 
}
body{
    background-image: url(./assets/bg.png);
    height: 100vh; 
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 100px; */
}


.navbar{
    background-color: black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}
.logo{
    margin-top: 40px;
    width: 100px;
    position:relative;
    left: 100px; 
    bottom: 20px;
}
.line{
  border-left: 2px solid white;
  height: 50px;
  position:relative;
  right: 100px; 

}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.list-item{
    margin-left: 60px;
    list-style: none;
    font-weight: 600;
    color: white;
    position:relative;
    right:300px; 
    top:2px; 
}

.button-small{
   border: none;
   border-radius: 4px;
   text-decoration: none;
   color: white;
   background-color: #8800ad;
   text-align: center;
   font-size: 16px;
   padding: 5px 20px;
   margin-right:50px ; 
   position:relative; 
    left:20px; 
    top:2px;
}



.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.hero-heading{
    color: rgba(243, 241, 238, 0.951);
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    position: relative;
    top:40px;
    right: 45px;
}
.hero-description{
    color: rgb(243, 239, 236); 
    font-size: 30px;
    font-weight:300;
    position: relative;
    top:50px;
    right: 30px;
}


.button-large{
    border: none;
   border-radius: 12px;
   text-decoration: none;
   color: white;
   background-color: #8800ad;
   text-align: center;
   font-size: 25px;
   padding: 15px 25px;
   margin-right:50px ;
   position: relative;
   top:100px;
}
